---
import Heading from "@components/Heading.astro";
import Section from "@components/Section.astro";
import Trim from "@components/global/Trim.astro";
import Default from "@layouts/Default.astro";
import RefreshCw from "@lucide/astro/icons/refresh-cw";

const title = "Submitting form";
const description = "This won't take long";
---

<Default title={title} description={description} allowIndexing={false}>
  <Section>
    <div class="container-8c">
      <div class="flex flex-col items-center gap-4 text-center sm:gap-6">
        <RefreshCw class="text-theme-brand size-10 animate-spin" />
        <Heading as="h1" class="text-h4 lg:text-h3" set:text={title} />
      </div>
    </div>
  </Section>
  <Fragment slot="footer">
    <footer id="p_footer-group">
      <Trim />
    </footer>
  </Fragment>
</Default>

<script>
  setTimeout(() => {
    window.location.href = "/contact/thanks/";
  }, 1500);
</script>
