---
import Heading from "@components/Heading.astro";
---

<div class="flex flex-col items-center gap-6 md:gap-10">
  <div class="max-w-10c flex flex-col gap-2 md:gap-3">
    <div class="flex items-center justify-center gap-5">
      <div class="bg-theme-action h-[2px] w-full rounded sm:max-w-24"></div>
      <p class="subheading text-theme-action whitespace-nowrap">Our services</p>
      <div class="bg-theme-action h-[2px] w-full rounded sm:max-w-24"></div>
    </div>
    <Heading as="h2" class="text-h3 sm:text-h2 md:text-h1 text-center">New estate area management and strategic development</Heading>
  </div>
  <p class="text-center text-lg sm:text-xl">Tailored management strategies for every property challenge</p>
</div>
