---
import twMerge from "@bpm/custom-merge";

const { class: classes, ...props } = Astro.props;
---

<section class={twMerge("relative py-14 sm:py-16 md:py-18 lg:py-20", classes)} {...props}>
  <slot />
</section>
