---
import { Image } from "astro:assets";
---

<div class="relative z-20 grid grid-cols-1 grid-rows-2 gap-4 sm:grid-cols-2 md:gap-8">
  <div class="bg-theme-background-highlight row-span-2 overflow-hidden rounded-md sm:col-span-1">
    <Image class="size-full" src="https://dummyimage.com/640x752/ede2de/7e6d67" width={640} height={752} alt="Placeholder Image" />
  </div>
  <div class="bg-theme-background-highlight row-span-1 overflow-hidden rounded-md sm:col-span-1">
    <Image class="size-full" src="https://dummyimage.com/640x360/ede2de/7e6d67" width={640} height={360} alt="Placeholder Image" />
  </div>
  <div class="bg-theme-background-highlight row-span-1 overflow-hidden rounded-md sm:col-span-1">
    <Image class="size-full" src="https://dummyimage.com/640x360/ede2de/7e6d67" width={640} height={360} alt="Placeholder Image" />
  </div>
</div>
